.container__main {
  display: flex;
  height: 350px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::ng-deep {

  .mat-raised-button {
    background-color: #d6e6c3;
  }
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.spinner {
  width: 80px;
  height: 80px;
}

@media  screen and (max-width: 769px) {
  .container__main{
    width: 190px;
  }
}
