::ng-deep {
  .mat-toolbar {
    display: flex;
    gap: 5rem;
    background-color: #d6e6c3;

    .text{
      &__client {
        cursor: pointer;
      }
    }
    span {
      text-transform: uppercase;
      color: #000000;
    }
  }

  .mat-tab-labels {
    justify-content: space-evenly;
  }
}

span {
  font-family: poppins, sans-serif;

}

@media screen and (max-width: 660px) {
  ::ng-deep {
    .mat-toolbar {
      span {
       font-size: 8px
      }
    }

  }
}


